/* Задания базовых свойств елементам страниц */
body {
  font-family: var(--main-font-name), var(--main-font-family);
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

/* Задание базовых значений блочной модели основному контейнеру секций */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-hero__container {
  max-width: 1600px;
}

/* Задаем тип и параметры линии обводки при фокусе для всех активных елементов по умолчанию */
*:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-networks {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks__icon {
  fill: currentColor;
}

%social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}

